<tr class="package-table__row">
  <td class="package-table__col desc">
    {{ feature.title | safe }}
  </td>


  {% for item in packagesTable %}
    {% if item[feature.field] %}
      <td class="package-table__col silver">
        <svg class="package-table__icon-yes" role="img" aria-hidden="true">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-inline.svg#package-yes"></use>
        </svg>
      </td>
    {% else %}
      <td class="package-table__col silver">
        <svg class="package-table__icon-no" role="img" aria-hidden="true">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-inline.svg#package-no"></use>
        </svg>
      </td>
    {% endif %}
  {% endfor %}
