.svg-feature_1-dims {
	width: 31.062px;
	height: 31.009px;
}

.svg-feature_2-dims {
	width: 24.52px;
	height: 32px;
}

.svg-feature_3-dims {
	width: 32px;
	height: 31.7px;
}

.svg-icon-fb-dims {
	width: 6px;
	height: 12px;
}

.svg-icon-gh-dims {
	width: 21px;
	height: 20px;
}

.svg-icon-med-dims {
	width: 15.07px;
	height: 12px;
}

.svg-icon-sl-dims {
	width: 14.216px;
	height: 14.219px;
}

.svg-icon-tw-dims {
	width: 14.96px;
	height: 12px;
}

.svg-icon-web-dims {
	width: 16px;
	height: 16px;
}

.svg-icon-yt-dims {
	width: 17px;
	height: 12px;
}

.svg-package-no-dims {
	width: 18.5px;
	height: 18.44px;
}

.svg-package-show_1-dims {
	width: 19px;
	height: 19px;
}

.svg-package-show_2-dims {
	width: 19px;
	height: 19px;
}

.svg-package-yes-dims {
	width: 27.562px;
	height: 19.09px;
}

