---
title: Sponsorship Proposal



features: [
	{
		animation: 'fade-up',
		animDelay: '200',
		iconClass: 'feature_1',
		iconSvg: 'feature_1',
		title: 'Talent Attraction & Retention',
		desc: [
			'Gain access to unique pool of candidates from 37 countries',
			'Simplify hiring process through building credibility within the OS community',
			'Communicate to your employees that you are at the forefront of technology and care about their professional development'
		]
	},{
		animation: 'fade-up',
		animDelay: '300',
		iconClass: 'feature_2',
		iconSvg: 'feature_2',
		title: 'Brand & Product Positioning',
		desc: [
			'Align yourselves with leading brands',
			'Present your products & technologies to the relevant audience',
			'Unique chance to pitch directly to an end user'
		]
	},{
		animation: 'fade-up',
		animDelay: '400',
		iconClass: 'feature_3',
		iconSvg: 'feature_3',
		title: 'Employer Branding',
		desc: [
			'Put your company name in line with top industry leaders such as Amazon AWS',
			'Improve company image and brand exposure globally across 95+ targeted developer groups and communities',
			'Reach out to more than 50k devs via our social media channels. partner announcements and meetups'
		]
	}
]

graphTabs: [
	{
		tabId: 'tab1',
		tabTitle: 'Job types',
		checked: true
	},{
		tabId: 'tab2',
		tabTitle: 'Location'
	},{
		tabId: 'tab3',
		tabTitle: 'Company types'
	}
]

columnCharts: [
	{
		percent: '73',
		title: 'Engineer'
	},{
		percent: '14',
		title: 'Technical Lead'
	},{
		percent: '29',
		title: 'Business Executive'
	}
]

circleCharts: [
	{
		percent: '10',
		title: 'Germany'
	},{
		percent: '20',
		title: 'UK'
	},{
		percent: '30',
		title: 'Other Europe'
	},{
		percent: '40',
		title: 'Eastern Europe'
	},{
		percent: '50',
		title: 'North America'
	},{
		percent: '60',
		title: 'Canada'
	},{
		percent: '70',
		title: 'South America'
	},{
		percent: '80',
		title: 'Middle East, Asia and Oceania'
	},{
		percent: '90',
		title: 'Other'
	}
]

rowCharts: [
	{
		percent: '40',
		title: 'Enterprise'
	},{
		percent: '24',
		title: 'Small/Medium Business'
	},{
		percent: '33',
		title: 'Startup/ Independent'
	},{
		percent: '65',
		title: 'Public/ Education'
	}
]
	

tileStats: [
	{
		animation: fade-up,
		animDelay: 200,
		nums: 1500,
		title: attendees,
		img: tile-stats_1.jpg
	},{
		animation: fade-down,
		animDelay: 200,
		img: tile-stats_2.jpg
	},{
		animation: fade-up,
		animDelay: 200,
		nums: 25+,
		title: speakers,
		img: tile-stats_3.jpg
	},{
		animation: fade-down,
		animDelay: 200,
		img: tile-stats_4.jpg
	},{
		animation: fade-up,
		animDelay: 200,
		nums: 20,
		title: media partners,
		img: tile-stats_5.jpg
	},{
		animation: fade-down,
		animDelay: 200,
		img: tile-stats_6.jpg
	},{
		animation: fade-up,
		animDelay: 200,
		nums: 100.000,
		title: website views,
		img: tile-stats_7.jpg
	},{
		animation: fade-down,
		animDelay: 200,
		img: tile-stats_8.jpg
	},{
		animation: fade-up,
		animDelay: 200,
		nums: 20+,
		title: partners,
		img: tile-stats_9.jpg
	},{
		animation: fade-down,
		animDelay: 200,
		img: tile-stats_10.jpg
	},{
		animation: fade-up,
		animDelay: 200,
		nums: 200.000,
		title: youtube views,
		img: tile-stats_11.jpg
	},{
		animation: fade-down,
		animDelay: 200,
		img: tile-stats_12.jpg
	},{
		animation: fade-up,
		animDelay: 200,
		nums: 3000,
		title: sq m venue,
		img: tile-stats_13.jpg
	},{
		animation: fade-down,
		animDelay: 200,
		img: tile-stats_14.jpg
	},{
		animation: fade-up,
		animDelay: 200,
		nums: 100,
		title: communities,
		img: tile-stats_15.jpg
	}
]

packegeTabs: [
	{
		tabId: 'pckjtab1',
		tabTitle: 'asd',
		checked: true
	},{
		tabId: 'pckjtab2',
		tabTitle: 'fasf'
	}
]

packagesSlider: [
	{
		pic: 'slider_pic1.jpg',
		title: 'Logo on signage and interstitial slides'
	},{
		pic: 'slider_pic1.jpg',
		title: '2 Logo on signage and interstitial slides'
	},{
		pic: 'slider_pic1.jpg',
		title: '3 Logo on signage and interstitial slides'
	},{
		pic: 'slider_pic1.jpg',
		title: '4 Logo on signage and interstitial slides'
	},{
		pic: 'slider_pic1.jpg',
		title: '5 Logo on signage and interstitial slides'
	}
]

recomSlider: [
	{
		userpic: 'userpic.png',
		username: 'George Harisson',
		userjob: 'GitHub, USA',
		text: 'Designers and developers should be able to speak the same language.<br/>But what language should it be? UI components and pattern libraries can provide this intermediate abstraction and be a common language for both designers and developers.',

	},{
		userpic: 'userpic.png',
		username: 'George Harisson',
		userjob: 'GitHub, USA',
		text: 'Designers and developers should be able to speak the same language.<br/>But what language should it be? UI components and pattern libraries can provide this intermediate abstraction and be a common language for both designers and developers.',
		
	},{
		userpic: 'userpic.png',
		username: 'George Harisson',
		userjob: 'GitHub, USA',
		text: 'Designers and developers should be able to speak the same language.<br/>But what language should it be? UI components and pattern libraries can provide this intermediate abstraction and be a common language for both designers and developers.',
		
	},{
		userpic: 'userpic.png',
		username: 'George Harisson',
		userjob: 'GitHub, USA',
		text: 'Designers and developers should be able to speak the same language.<br/>But what language should it be? UI components and pattern libraries can provide this intermediate abstraction and be a common language for both designers and developers.',
		
	},{
		userpic: 'userpic.png',
		username: 'George Harisson',
		userjob: 'GitHub, USA',
		text: 'Designers and developers should be able to speak the same language.<br/>But what language should it be? UI components and pattern libraries can provide this intermediate abstraction and be a common language for both designers and developers.',
		
	}
]

packageTypes: [
	{
		animDelay: '100',
		id: 'pack-silver',
		pic: 'package-tile_1.jpg',
		title: 'Silver',
		desc: 'from <span>2.000€</span>',
		tags: '#hiring #branding'
	},{
		animDelay: '200',
		id: 'pack-gold',
		pic: 'package-tile_2.jpg',
		title: 'Gold',
		desc: 'from <span>7.000€</span>',
		tags: '#hiring #branding #booth #swag'
	},{
		animDelay: '300',
		id: 'pack-platinum',
		pic: 'package-tile_3.jpg',
		title: 'Platinum',
		desc: 'from <span>10.000€</span>',
		tags: '#hiring #branding #video #party #lanyards'
	},{
		animDelay: '400',
		id: 'pack-diversity',
		pic: 'package-tile_4.jpg',
		title: 'Diversity',
		desc: 'from <span>10.000€</span>',
		tags: '#hiring #branding #diversity #community #allyship'
	},
]

packegePopup: [
	{
		id: 'pack-silver',
		title: 'Silver',
		price: 'from 10.000€',
		subtitle: 'Communicate to your employees that you are at the forefront of technology and care about their professional development',
		options: 'Options at this level',
		desc: 'This opportunity is perfect for cost-conscious companies who are eager to get their brand in front of attendees, or who would like a taste of a GitHub event experience before committing to a larger package. Please note these sponsorships do not include an on-site space for your team to congregate or demo.',

		stuffList:[
			{
				pic: 'stuff_1.jpg',
				moreLink: '#####',
				title: 'Goodie bag Item/Swag',
				tickets: '12 Available  500€ + vat',
				desc: 'Put your logo into attendee hands with a custom swag item in everyone’s tote bags. You will have to produce items and cover the costs yourself (but we will assist you every step along the way)'
			},{
				pic: 'stuff_2.jpg',
				moreLink: '#####',
				title: 'Coffee Bike',
				tickets: '7 Available    2000€ + vat',
				desc: 'Coffee/snack/tea is always a good idea, especially during a busy conference day! Branded packaging and prominent signage keep your brand top-of-mind throughout the event. You will have to arrange a supplier and cover the costs yourself (but we will assist you every step along the way)'
			},{
				pic: 'stuff_3.jpg',
				moreLink: '#####',
				title: 'Branded Lounge',
				tickets: 'Sold Out  7000€ + vat',
				desc: 'Coffee/snack/tea is always a good idea, especially during a busy conference day! Branded packaging and prominent signage keep your brand top-of-mind throughout the event. You will have to arrange a supplier and cover the costs yourself (but we will assist you every step along the way)'
			}
		],
		rightPic: 'stuff_4.jpg',
		checklist: [
			{
				checked: yes,
				desc: 'Logo on signage and interstitial slides'
			},{
				checked: yes,
				desc: 'Logo and link on event website'
			},{
				checked: yes,
				desc: 'Logo in communications to attendees'
			},{
				checked: yes,
				desc: 'Option to add á-la-carte deliverables'
			},{
				checked: no,
				desc: 'Private demo desk'
			},{
				checked: yes,
				desc: 'Inclusion in sponsored email to attendees'
			}
		]


	},{
		id: 'pack-gold',
		title: 'Gold',
		price: 'from 10.000€',
		subtitle: 'Communicate to your employees that you are at the forefront of technology and care about their professional development',
		options: 'Options at this level',
		desc: 'This opportunity is perfect for cost-conscious companies who are eager to get their brand in front of attendees, or who would like a taste of a GitHub event experience before committing to a larger package. Please note these sponsorships do not include an on-site space for your team to congregate or demo.',

		stuffList:[
			{
				pic: 'stuff_1.jpg',
				moreLink: '#####',
				title: 'Goodie bag Item/Swag',
				tickets: '12 Available  500€ + vat',
				desc: 'Put your logo into attendee hands with a custom swag item in everyone’s tote bags. You will have to produce items and cover the costs yourself (but we will assist you every step along the way)'
			},{
				pic: 'stuff_2.jpg',
				moreLink: '#####',
				title: 'Coffee Bike',
				tickets: '7 Available    2000€ + vat',
				desc: 'Coffee/snack/tea is always a good idea, especially during a busy conference day! Branded packaging and prominent signage keep your brand top-of-mind throughout the event. You will have to arrange a supplier and cover the costs yourself (but we will assist you every step along the way)'
			},{
				pic: 'stuff_3.jpg',
				moreLink: '#####',
				title: 'Branded Lounge',
				tickets: 'Sold Out  7000€ + vat',
				desc: 'Coffee/snack/tea is always a good idea, especially during a busy conference day! Branded packaging and prominent signage keep your brand top-of-mind throughout the event. You will have to arrange a supplier and cover the costs yourself (but we will assist you every step along the way)'
			}
		],
		rightPic: 'stuff_4.jpg',
		checklist: [
			{
				checked: yes,
				desc: 'Logo on signage and interstitial slides'
			},{
				checked: yes,
				desc: 'Logo and link on event website'
			},{
				checked: yes,
				desc: 'Logo in communications to attendees'
			},{
				checked: yes,
				desc: 'Option to add á-la-carte deliverables'
			},{
				checked: no,
				desc: 'Private demo desk'
			},{
				checked: yes,
				desc: 'Inclusion in sponsored email to attendees'
			}
		]


	},{
		id: 'pack-platinum',
		title: 'Platinum',
		price: 'from 10.000€',
		subtitle: 'Communicate to your employees that you are at the forefront of technology and care about their professional development',
		options: 'Options at this level',
		desc: 'This opportunity is perfect for cost-conscious companies who are eager to get their brand in front of attendees, or who would like a taste of a GitHub event experience before committing to a larger package. Please note these sponsorships do not include an on-site space for your team to congregate or demo.',

		stuffList:[
			{
				pic: 'stuff_1.jpg',
				moreLink: '#####',
				title: 'Goodie bag Item/Swag',
				tickets: '12 Available  500€ + vat',
				desc: 'Put your logo into attendee hands with a custom swag item in everyone’s tote bags. You will have to produce items and cover the costs yourself (but we will assist you every step along the way)'
			},{
				pic: 'stuff_2.jpg',
				moreLink: '#####',
				title: 'Coffee Bike',
				tickets: '7 Available    2000€ + vat',
				desc: 'Coffee/snack/tea is always a good idea, especially during a busy conference day! Branded packaging and prominent signage keep your brand top-of-mind throughout the event. You will have to arrange a supplier and cover the costs yourself (but we will assist you every step along the way)'
			},{
				pic: 'stuff_3.jpg',
				moreLink: '#####',
				title: 'Branded Lounge',
				tickets: 'Sold Out  7000€ + vat',
				desc: 'Coffee/snack/tea is always a good idea, especially during a busy conference day! Branded packaging and prominent signage keep your brand top-of-mind throughout the event. You will have to arrange a supplier and cover the costs yourself (but we will assist you every step along the way)'
			}
		],
		rightPic: 'stuff_4.jpg',
		checklist: [
			{
				checked: yes,
				desc: 'Logo on signage and interstitial slides'
			},{
				checked: yes,
				desc: 'Logo and link on event website'
			},{
				checked: yes,
				desc: 'Logo in communications to attendees'
			},{
				checked: yes,
				desc: 'Option to add á-la-carte deliverables'
			},{
				checked: no,
				desc: 'Private demo desk'
			},{
				checked: yes,
				desc: 'Inclusion in sponsored email to attendees'
			}
		]


	},{
		id: 'pack-diversity',
		title: 'Diversity',
		price: 'from 10.000€',
		subtitle: 'Communicate to your employees that you are at the forefront of technology and care about their professional development',
		options: 'Options at this level',
		desc: 'This opportunity is perfect for cost-conscious companies who are eager to get their brand in front of attendees, or who would like a taste of a GitHub event experience before committing to a larger package. Please note these sponsorships do not include an on-site space for your team to congregate or demo.',

		stuffList:[
			{
				pic: 'stuff_1.jpg',
				moreLink: '#####',
				title: 'Goodie bag Item/Swag',
				tickets: '12 Available  500€ + vat',
				desc: 'Put your logo into attendee hands with a custom swag item in everyone’s tote bags. You will have to produce items and cover the costs yourself (but we will assist you every step along the way)'
			},{
				pic: 'stuff_2.jpg',
				moreLink: '#####',
				title: 'Coffee Bike',
				tickets: '7 Available    2000€ + vat',
				desc: 'Coffee/snack/tea is always a good idea, especially during a busy conference day! Branded packaging and prominent signage keep your brand top-of-mind throughout the event. You will have to arrange a supplier and cover the costs yourself (but we will assist you every step along the way)'
			},{
				pic: 'stuff_3.jpg',
				moreLink: '#####',
				title: 'Branded Lounge',
				tickets: 'Sold Out  7000€ + vat',
				desc: 'Coffee/snack/tea is always a good idea, especially during a busy conference day! Branded packaging and prominent signage keep your brand top-of-mind throughout the event. You will have to arrange a supplier and cover the costs yourself (but we will assist you every step along the way)'
			}
		],
		rightPic: 'stuff_4.jpg',
		checklist: [
			{
				checked: yes,
				desc: 'Logo on signage and interstitial slides'
			},{
				checked: yes,
				desc: 'Logo and link on event website'
			},{
				checked: yes,
				desc: 'Logo in communications to attendees'
			},{
				checked: yes,
				desc: 'Option to add á-la-carte deliverables'
			},{
				checked: no,
				desc: 'Private demo desk'
			},{
				checked: yes,
				desc: 'Inclusion in sponsored email to attendees'
			}
		]


	}
]
sponsors: [
	{
		title: '',
		mod: 'sponsors-block_lg',
		list: [
			{
				name: 'Duffel',
				img: 'duffel.png',
				link: 'https://duffel.com/',
				width: '300'
			},{
				name: 'Magic Lab',
				img: 'magiclab.png',
				link: 'https://magiclab.co/',
				width: '300'
			},{
				name: 'Soshace',
				img: 'soshace.png',
				link: 'https://soshace.com/',
				width: '300'
			},{
				name: 'Signal',
				img: 'signal.png',
				link: 'https://www.signal-ai.com/',
				width: '300'
			},{
				name: 'Tesco',
				img: 'tesco.png',
				link: 'https://www.tesco.com/',
				width: '300'
			},{
				name: 'Clear Score',
				img: 'clearscore.png',
				link: 'https://www.clearscore.com/',
				width: '300'
			}
		]
	}
]

---

{% extends "layouts/_layout.html" %}

{% block content %}

{% include "partials/_header.html" %}

	<main class="content">

		{% include "partials/_intro.html" %}
		{% include "partials/_motivation.html" %}
		{% include "partials/_stats.html" %}
		{% include "partials/_tile-stats.html" %}
		{% include "partials/_packages.html" %}
		{% include "partials/_partners.html" %}

	</main><!-- .content -->


{% include "partials/_footer.html" %}

{% endblock %}
