---
title: Sponsorship Proposal


recomSlider: [
	{
		userpic: 'userpic.png',
		username: 'George Harisson',
		userjob: 'GitHub, USA',
		text: 'Designers and developers should be able to speak the same language.<br/>But what language should it be? UI components and pattern libraries can provide this intermediate abstraction and be a common language for both designers and developers.',

	},{
		userpic: 'userpic.png',
		username: 'George Harisson',
		userjob: 'GitHub, USA',
		text: 'Designers and developers should be able to speak the same language.<br/>But what language should it be? UI components and pattern libraries can provide this intermediate abstraction and be a common language for both designers and developers.',

	},{
		userpic: 'userpic.png',
		username: 'George Harisson',
		userjob: 'GitHub, USA',
		text: 'Designers and developers should be able to speak the same language.<br/>But what language should it be? UI components and pattern libraries can provide this intermediate abstraction and be a common language for both designers and developers.',

	},{
		userpic: 'userpic.png',
		username: 'George Harisson',
		userjob: 'GitHub, USA',
		text: 'Designers and developers should be able to speak the same language.<br/>But what language should it be? UI components and pattern libraries can provide this intermediate abstraction and be a common language for both designers and developers.',

	},{
		userpic: 'userpic.png',
		username: 'George Harisson',
		userjob: 'GitHub, USA',
		text: 'Designers and developers should be able to speak the same language.<br/>But what language should it be? UI components and pattern libraries can provide this intermediate abstraction and be a common language for both designers and developers.',

	}
]


sponsors: [
	{
		title: '',
		mod: 'sponsors-block_lg',
		list: [
			{
				name: 'Duffel',
				img: 'duffel.png',
				link: 'https://duffel.com/',
				width: '300'
			},{
				name: 'Magic Lab',
				img: 'magiclab.png',
				link: 'https://magiclab.co/',
				width: '300'
			},{
				name: 'Soshace',
				img: 'soshace.png',
				link: 'https://soshace.com/',
				width: '300'
			},{
				name: 'Signal',
				img: 'signal.png',
				link: 'https://www.signal-ai.com/',
				width: '300'
			},{
				name: 'Tesco',
				img: 'tesco.png',
				link: 'https://www.tesco.com/',
				width: '300'
			},{
				name: 'Clear Score',
				img: 'clearscore.png',
				link: 'https://www.clearscore.com/',
				width: '300'
			}
		]
	}
]

---

{% extends "layouts/_layout.html" %}

{% block content %}

{% include "partials/_header.html" %}

	<main class="content">

		{% include "partials/_intro.html" %}
		{% include "partials/_motivation.html" %}
		{% include "partials/_stats.html" %}
		{% include "partials/_tile-stats.html" %}
		{% include "partials/_packages.html" %}
		{% include "partials/_partners.html" %}

	</main><!-- .content -->


{% include "partials/_footer.html" %}

{% endblock %}
