.tile-stats{
	display: flex;
	flex-wrap: wrap;
	background: #000;

	&__item{
		overflow: hidden;
		position: relative;
		width: 20%;
		height: 19.76vw;

		&:hover{
			.tile-stats__pic{
				transform: scale(1.1);
			}
		}
	}

	&__desc{
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		z-index: 1;
		flex-direction: column;
		color: var(--clr-white);
		background: rgba(0, 0, 0, .7)
	}

	&__nums{
		font-size: 3.5vw;
		line-height: 1.26;
		margin: 0;
	}

	&__title{
		font-size: 16px;
		line-height: 1.26;
		margin: 1vw 0 0;
		text-align: center;
	}

	&__pic{
		transition: transform ease .1s;
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
	}

	@include sm{
		

		&__item{
			overflow: hidden;
			position: relative;
			width: 33.33%;
			height: 32.6vw;

			&:hover{
				.tile-stats__pic{
					transform: scale(1.1);
				}
			}
		}

		&__nums{
			font-size: 6.5vw;
		}
	}

	@include xs{


		&__title{
			font-size: 12px;
		}
	}
}