@import "helpers/variables";
@import "helpers/sprite-svg";
@import "helpers/mixins";
@import "helpers/functions";
@import "helpers/normalize";

* {
	box-sizing: border-box;
}

html,
body {
	width: 100%;
	height: 100%;
}

html {
	font-family: var(--got);
}

body {
	width: 100%;
	background: #fff;
	color: var(--clr-black);
	font-family: var(--got);
	font-size: 16px;
	line-height: 1.36;
}

a {
	color: #18db73;
	transition: all linear .2s;

	&:hover{
		text-decoration: none;
	}
}

.ir {
	font: 0/0 a;
	text-shadow: none;
	color: transparent;
}

.wrapper {
	display: flex;
	flex-direction: column;
	position: relative;
	overflow: hidden;
	min-height: 100%;
	min-width: 300px;
}

.container {
	position: relative;
	max-width: 1220px;
	margin: 0 auto;
	padding: 120px 20px;


	@include xl{
		max-width: 984px;
	}

	@include med{
		max-width: 728px;
		padding: 80px 20px;
	}

	@include sm{
		max-width: 528px;
	}

	@include xs {
		padding: 50px 15px;
	}
}

b,
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--got);
	font-weight: 400;
}

@import "helpers/fonts";
@import "helpers/icons";
@import "helpers/bootstrap-grid";

@import "vendor/slick";
@import "vendor/aos";
@import "vendor/responsive-tables";
@import "vendor/jquery.fancybox";
@import "vendor/owl.carousel";

@import "partials/intro";
@import "partials/motivation";
@import "partials/features";
@import "partials/stats";
@import "partials/tile-stats";
@import "partials/packages";
@import "partials/partners";
@import "partials/sponsors";
@import "partials/socials";

@import "partials/forms";
@import "partials/buttons";
@import "partials/header";
@import "partials/content";
@import "partials/footer";


