<section class="section intro">
	<div class="intro__bg" data-aos="zoom-out" data-aos-delay="0" data-aos-duration="1000"></div>
	<div class="intro__inner">
		<div class="intro__logo" data-aos="fade-down" data-aos-delay="500" data-aos-duration="1000">
			<a href="/" class="logo">
				<img src="{{ info.logo.asset.url }}" alt="Logo" class="logo__img">
			</a>
		</div>
		<h2 class="intro__title" data-aos="fade-in" data-aos-delay="700" data-aos-duration="1000">{{ info.introTitle }}</h2>
		<p class="intro__tip" data-aos="fade-up" data-aos-delay="900" data-aos-duration="1000">{{ info.introSubtitle }}</p>
	</div>
</section>
