<section class="section intro">
	<div class="intro__bg" data-aos="zoom-out" data-aos-delay="0" data-aos-duration="1000"></div>
	<div class="intro__inner">
		<div class="intro__logo" data-aos="fade-down" data-aos-delay="500" data-aos-duration="1000">
			<a href="/" class="logo">
				<span class="logo__atom"></span>
				<img src="img/logo.svg" alt="Logo">
			</a>
		</div>
		<h2 class="intro__title" data-aos="fade-in" data-aos-delay="700" data-aos-duration="1000">The biggest react summit worldwide</h2>
		<p class="intro__tip" data-aos="fade-up" data-aos-delay="900" data-aos-duration="1000">Sponsorship 2020</p>
	</div>
</section>