<section class="section bg-gray packages" id="packages">
	<div class="container tab-wrap">
		<h3 class="section__title">Sponsors packages and addons

			<div class="packages-switch owl-dots" id="packages-switch">
				<div class="packages-switch__item owl-dot" data-slide="0">Grid</div>
				<div class="packages-switch__item owl-dot" data-slide="1">Table</div>
			</div>

			<!-- <div id="packages-switch"></div> -->
		</h3>

		<div class="owl-carousel package-slider">
			<div class="package-slider__item" data-hash="package-grid">
				<ul class="packege-tiles">
					{% for item in packages %}
					<li class="packege-tiles__item js-package-popup" data-aos="fade-up" data-aos-delay="{{item.animDelay}}" data-fancybox data-src="#{{item.packageId}}">
						<img class="packege-tiles__pic" src="{{item.blockImage.asset.url}}">
						<h3 class="packege-tiles__title">{{item.title}}</h3>
						<p class="packege-tiles__desc">{{item.short | safe}}</p>
						<p class="packege-tiles__tags">{{item.tags}}</p>
					</li>
					{% endfor %}
				</ul>
			</div>

			<div class="package-slider__item" data-hash="package-table">
				<div class="table-wrapper">
					<table class="package-table responsive">
						<tbody>

			            	{% include "partials/package/_header.html" %}

			            	{% for feature in packageFeatures %}
			            		{% if feature.type === 'text' %}
			            			{% include "partials/package/_text-row.html" %}
			            		{% endif %}

			            		{% if feature.type === 'check' %}
			            			{% include "partials/package/_check-row.html" %}
			            		{% endif %}
			            	{% endfor %}

						</tbody>
					</table>
				</div>
			</div>
		</div>

		<div class="owl-carousel packages-slider slider">
			{% for item in packageSlides %}
			<div class="packages-slider__item">
				<div class="packages-slider__wrap">
					<img class="packages-slider__pic" src="{{item.image.asset.url}}">
					<p class="packages-slider__title">{{item.caption}}</p>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</section>


{% for item in packages %}
<div style="display: none;" id="{{item.packageId}}" class="package-popup">
	<div class="package-popup__btn-close" data-fancybox-close>back</div>

	<div class="package-popup__content">
		<div class="package-popup__left">
			<h3 class="package-popup__title">{{item.title}}</h3>
			<p class="package-popup__price">{{item.price}}</p>
			<h4 class="package-popup__subtitle">{{item.subtitle}}</h4>
			<p class="package-popup__options">{{item.options}}</p>
			<p class="package-popup__desc">{{item.description | safe}}</p>

			<ul class="stuff-list">
				{% for stuffItem in item.addons %}
				<li class="stuff-list__item">
					<div class="stuff-list__left">
						<img class="stuff-list__pic" src="{{stuffItem.image.asset.url}}">
            {% if stuffItem.moreLink %}
              <a class="stuff-list__more" href="{{stuffItem.moreLink}}" target="_blank">more photos</a>
            {% endif %}
					</div>
					<div class="stuff-list__right">
						<h4 class="stuff-list__title">{{stuffItem.title}}</h4>
						<p class="stuff-list__tickets">{{stuffItem.details}}</p>
						<p class="stuff-list__desc">{{stuffItem.description}}</p>
					</div>
				</li>
				{% endfor %}
			</ul>
		</div>
		<div class="package-popup__right">
			<img class="stuff-list__pic" src="{{item.rightImage.asset.url}}">

			<ul class="checklist">
				{% for check in item.checklist %}
				<li class="checklist__item">
					<svg class="checklist__icon-{{check.checked}}" role="img" aria-hidden="true">
						<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-inline.svg#package-{{check.checked}}"></use>
					</svg>
					{{check.title}}
				</li>
				{% endfor %}
			</ul>
		</div>
	</div>
</div>
{% endfor %}
