<section class="section partners" id="partners">
	<div class="container">
		<h3 class="section__title">Partners</h3>

		<ul class="recommendations recom-slider">
			{% for item in partners %}
			<li class="recommendations__item">
				<p class="recommendations__text">{{item.text | safe}}</p>

				<div class="user-info">
					<div class="user-info__left">
						<img class="user-info__pic" src="{{item.image.asset.url}}">
					</div>
					<div class="user-info__right">
						<p class="user-info__name">{{item.name}}</p>
						<p class="user-info__company">{{item.job}}</p>
					</div>
				</div>
			</li>
			{% endfor %}
		</ul>

		{% for item in sponsors %}
			<div class="sponsors-block {{item.mod}}">
				{% if item.title %}
				<div class="sponsors-block__title">{{item.title}}</div>
				{% endif %}

				<ul class="sponsors-block__list">
					{% for sponsor in item.list %}
						<li class="sponsors-block__item">
							<a href="{{sponsor.link}}" target="_blank">
								<img src="{{sponsor.image.asset.url}}" alt="{{sponsor.name}}" width="{{sponsor.width}}">
							</a>
						</li>
					{% endfor %}
				</ul>
			</div>
		{% endfor %}

		<iframe class="partners__video" data-aos="zoom-in" src="{{ youtubeVideo }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

		<a class="basic-btn" data-aos="zoom-out-up" href="mailto:{{ info.email }}">send an email</a>
	</div>
</section>
