<section class="section stats" id="stats">
	<div class="container">
		<h3 class="section__title">Audience demographics </h3>
		<p class="section__subtitle">Our events attract a wide range of people who share a passion for building better software</p>

		<div class="graphs" data-aos="fade-up" data-aos-delay="200">
			<div class="tabs">
				{% for item in stats %}
				<input type="radio" id="{{item.tabId}}" name="tab-control" {{ "checked" if item.checked }}>
				{% endfor %}

				<ul class="graphs-nav">
					{% for item in stats %}
					<li class="graphs-nav__item" title="Job types" id="button">
						<label for="{{item.tabId}}" role="buttoAn">{{item.tabTitle}}</label>
					</li>
					{% endfor %}
				</ul>

				<div class="content">
					{% for chart in stats %}
            {% if chart.type === 'columnCharts' %}
              {% include "partials/charts/_column.html" %}
            {% endif %}
            {% if chart.type === 'circleCharts' %}
              {% include "partials/charts/_circle.html" %}
            {% endif %}
            {% if chart.type === 'rowCharts' %}
              {% include "partials/charts/_row.html" %}
            {% endif %}
          {% endfor %}
				</div>
			</div>
		</div>
	</div>
</section>



