{% import "partials/_mixins.html" as mixins %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{ info.pageTitle }}</title>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="css/style.css?v2" />
	<link rel="shortcut icon" href="img/favicon.png"/>
	<meta name="description" content="{{ info.pageDescription }}" />
	<meta property="og:url" content="{{ info.sponsorsUrl }}"/>
	<meta property="og:title" content="{{ info.pageTitle }}"/>
	<meta property="og:description" content="{{ info.pageDescription }}"/>
	<meta property="og:image" content="{{ info.ogImage.asset.url }}"/>
  <style>
    .intro:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      background: var({{ main.theme.hex }});
      z-index: 0;
      background: url({{ info.introBackground.asset.url }}) center center no-repeat;
      background-size: cover;
    }
    :root {
      --clr-theme: {{ main.theme.hex }};
      --clr-themeD: {{ main.themeD.hex }};
    }
  </style>
</head>

<body>

<div class="wrapper">

	{% block content %}
	{% endblock %}

</div>

<script type="text/javascript">
	var _gauges = _gauges || [];
	(function() {
		var t   = document.createElement('script');
		t.type  = 'text/javascript';
		t.async = true;
		t.id    = 'gauges-tracker';
		t.setAttribute('data-site-id', '{{ info.gaugesTrackingId }}');
		t.setAttribute('data-track-path', 'https://track.gaug.es/track.gif');
		t.src = 'https://d2fuc4clr7gvcn.cloudfront.net/track.js';
		var s = document.getElementsByTagName('script')[0];
		s.parentNode.insertBefore(t, s);
	})();
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="https://unpkg.com/aos@2.3.4/dist/aos.js"></script>
<script src="js/app.js?v2"></script>

</body>
</html>
